<h1><%= @kitten.name %></h1>

<p>
  <ul>
    <li>Age: <%= @kitten.age %></li>
    <li>Cuteness: <%= @kitten.cuteness %></li>
    <li>Softness: <%= @kitten.softness %></li>
  </ul>
</p>

<%= link_to "<- Back", root_path %>
